services:
  web:
    build:
      context: .
      target: dev
    ports:
      - "5000:5000"
    develop:
      watch:
        - action: sync
          path: .
          target: /code
          ignore:
            - .venv
            - __pycache__
            - .git
        - action: rebuild
          path: pyproject.toml
        - action: rebuild
          path: Dockerfile
